.sidebar{
    background: #5D2874;
    width: 20;
}

.title, .emotion-name{
    background-color: #ae93b9;
    text-align: center;
    font-family: "Verdana";
}

.button{
    background-color: #ae93b9;
    border: 0;
    margin: 10px;
    width: 90%;
    height: 50px;
    align-content: center;
    display: block;
    font-size: 20px;
}

.webcam{
    text-align: center;
}

.record, .hint,.help{
    background-color: #ae93b9;
    border: 0;
    margin: 10px;
    width: 20%;
    height: 50px;
    display:inline-block;
    font-size: 20px;
}

.result{
    display: inline-block;
    font-size: 40px;
    font-family: "Verdana";
    margin: 10px 0 0 0;
}

.hint-result{
    display: inline-block;
    font-size: 40px;
    font-family: "Verdana";
    margin: 10px 0 0 0;
}

.popup{
    background-color: #ae93b9;
    border: 0;
    font-size: 20px;
    font-family: "Verdana"
}